body {
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    line-height: 40px;
    background-color: rgb(53, 48, 48);
    text-align: center;
}

.container {
    max-width: 1200px;
}

.home-slider {
    padding: 0;
    margin-top: 10px;
}

.home-slider h5 {
    font-size: 30px;
}

.home-slider p {
    font-size: 15px;
}

.carousel-caption {
    bottom: 100px;
}

.carousel-item {
    height: 20rem;
}

.heading {
    background-color: dimgrey;
    padding-top: 20px;
    border-radius: 5px;
}

.head_text {
    color: rgb(233, 231, 231);
    text-align: center;
}

.col-sm {
    text-align: center;
    background-color: antiquewhite;
    margin: 5px;
}

.heading {
    height: 80px;
    margin: 40px 0 40px 0;
}

.form-control {
    margin: 12px 0 12px 0;
}

.container.container_sign {
    max-width: 500px;
    margin-top: 160px;
}

.active-pink input.form-control[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }

  /* SEARH */

  .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }