<div class="col-md-4">
    <div class="card my-4">
        <h5 class="card-header">Теги</h5>
        <div class="card-body">
            <div class="d-flex flex-wrap">
                <p class="my-3">
            {% for mt in common_tags %}
                <a href="{% url 'tag' mt.slug %}" class="badge badge-success">#{{ mt }}</a>
            {% endfor %}
        </p>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Последние статьи</h5>
        {% for lp in last_post %}
        <div class="card-body">
            <h5 class="card-title">{{ lp.title }}</h5>
            <a href="{% url 'post_detail' lp.url  %}"><img src="{{ lp.image.url }}" class="card-img-top" alt=""></a>
            <p class="card-text">{{ lp.description | safe | truncatechars:100 }}</p>
            <a href="{% url 'post_detail' lp.url %}" class="card-link">Подробнее</a>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
