body {
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    line-height: 40px;
    background-color: rgb(53, 48, 48);
    text-align: center;
}

.container {
    max-width: 1200px;
}

.home-slider {
    padding: 0;
}

.home-slider h5 {
    font-size: 30px;
}

.home-slider p {
    font-size: 15px;
}

.carousel-caption {
    bottom: 100px;
}

.carousel-item {
    height: 20rem;
}

.heading {
    background-color: dimgrey;
    padding-top: 20px;
    border-radius: 5px;
}

.head_text {
    color: rgb(233, 231, 231);
    text-align: center;
}

.col-sm {
    text-align: center;
    background-color: antiquewhite;
    margin: 5px;
}

.heading {
    height: 80px;
    margin: 40px 0;
}

.form-control {
    margin: 12px 0;
}

.container.container_sign {
    max-width: 500px;
    margin-top: 160px;
}
